<div class="footerWrapper">
    <div class="footerContent">
        <div class="logo">
            <img src="../../../assets/images/footerIMG.png" alt="">
        </div>
        <div class="termsPolicy">
            <ul>
                <li>Terms of Use</li>
                <li>Privacy policy</li>
                <li>Contact us</li>
                <li>FAQ</li>
            </ul>
        </div>
        <div class="media">
            <div class="socialMedia">
                <img src="../../../assets/images/facebook.png" alt="">
                <img src="../../../assets/images/instagram.png" alt="">
                <img src="../../../assets/images/youtube.png" alt="">
                <img src="../../../assets/images/twitter.png" alt="">
                <img src="../../../assets/images/twitch.png" alt="">
            </div>
            <div class="apps">
                <img src="../../../assets/images/Google-Play-App-store-Apple-apple.png" alt="">
            </div>
        </div>
    </div>
</div>
