<div class="dialogWrapper">
    <h1>Details</h1>

    <div class="dialogContentWrapper">

        
        <div class="presentation">
            <img src="{{data.img}}" alt="">
        </div>

            <div class="stockBuy">
                <h1>{{data.title}}</h1>
                <div class="subInfosWrapper">
                    <div class="subInfos">
                        <div class="platform">
                            <img style="width: 65px;" src="../../../assets/images/PS5-Players-Shocked-by-High-Rated-Stealth-Release.png" alt="">
                            <p>{{data.platform}}</p>
                            <span class="spacer"></span>
                        </div>
                        <div class="stocks">
                            <img *ngIf="data.inStock > 0" src="../../../assets/images/green-check-mark-icon-transparent-background-11.jpg" alt="">
                            <img *ngIf="data.inStock === 0" style="width: 43px ;" src="../../../assets/images/stop-icon-14.png" alt="">
                            <p *ngIf="data.inStock > 0">In stock</p>
                            <p *ngIf="data.inStock === 0">Out of stock</p>
                            <span class="spacer"></span>
                        </div>
                        <div class="digitalDownload">
                            <img src="../../../assets/images/green-check-mark-icon-transparent-background-11.jpg" alt="">
                            <p>Digital download</p>
                        </div>
                    </div>
            </div>
                
                <p class="gamePrice">{{data.price}}$</p>
                <button *ngIf="data.inStock === 0" disabled mat-button class="disable">Buy</button>
                <button *ngIf="data.inStock > 0"  (click)="addtoCart(data)" mat-button color="primary">Buy</button>
            </div>
        

        
            <div class="about">
                <h2>About the game</h2>
                <p>{{data.aboutTheGame}}</p>
            </div>

            <div class="info">
                <ul>
                    <li>Rating: <span>{{data.rating}}</span></li>
                    <li>Developer: <span>{{data.developer}}</span></li>
                    <li>Publisher: <span>{{data.publisher}}</span></li>
                    <li>Release date: <span>{{data.releaseDate}}</span></li>
                    <li>Genre: <span>{{data.genre}}</span></li>
                </ul>
            </div>
       

        <div class="minimumConfig">
            <h2>Minimum Configuration</h2>
            <ul>
                <li>OS: <span>{{data.minimumConfig.OS}}</span></li>
                <li>Processor: <span>{{data.minimumConfig.processor}}</span></li>
                <li>Memory: <span>{{data.minimumConfig.memory}}</span></li>
                <li>Graphics: <span>{{data.minimumConfig.graphics}}</span></li>
                <li>DirectX: <span>{{data.minimumConfig.directX}}</span></li>
                <li>Network: <span>{{data.minimumConfig.network}}</span></li>
                <li>Storage: <span>{{data.minimumConfig.storage}}</span></li>
            </ul>
        </div>

        <div class="recommendedConfig">
            <h2>Recommended Configuration</h2>
        <ul>
            <li>OS: <span>{{data.recommendedConfig.OS}}</span></li>
            <li>Processor: <span>{{data.recommendedConfig.processor}}</span></li>
            <li>Memory: <span>{{data.recommendedConfig.memory}}</span></li>
            <li>Graphics: <span>{{data.recommendedConfig.graphics}}</span></li>
            <li>DirectX: <span>{{data.recommendedConfig.directX}}</span></li>
            <li>Network: <span>{{data.recommendedConfig.network}}</span></li>
            <li>Storage: <span>{{data.recommendedConfig.storage}}</span></li>
        </ul>
        </div>
        
    </div>
</div>
